* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 500px;
    border: 3px solid #555;
    border-radius: 10px;
    margin: 0 auto;
    min-height: 100vh;
   
}


header {
    background-image: url(diner.jpg);
    color: #fff;
    text-shadow: 0 2px 3px #ca5d2a;
    height: 150px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 30%;
    display: flex;
    align-items: center;
}

header h1 {
    font-size: 35px;
    font-weight: bold;
}

header p {
    font-size: 20px;
    font-weight: bold;
}


.menu-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 20px;
    /* border: 3px solid blue; */
}

.menu-list img {
    width: 80px;
    height: 80px;
}

.menu-item {
    display: flex;
    gap: 30px;
    align-items: center;
}

#add-btn {
    font-size: 30px;
    font-weight: bold;
    border: 1px solid #d6c0c0;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
}