* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 500px;
    border: 3px solid #555;
    border-radius: 10px;
    margin: 20px auto;
    min-height: 100vh;
   
}


header {
    background-image: url(diner.jpg);
    color: #fff;
    text-shadow: 0 2px 3px #ca5d2a;
    height: 150px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 30%;
    display: flex;
    align-items: center;
}

header h1 {
    font-size: 35px;
    font-weight: bold;
}

header p {
    font-size: 20px;
    font-weight: bold;
}


.menu-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #d6c0c0;
    /* border: 3px solid blue; */
}

.menu-list img {
    width: 80px;
    height: 80px;
}

.menu-item {
    display: flex;
    gap: 30px;
    align-items: center;
}

#add-btn {
    font-size: 30px;
    font-weight: bold;
    border: 1px solid #d6c0c0;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
}

.order-wrapper {
    margin: 30px 20px;
    display: flex;
    flex-direction: column;
}

.order-wrapper > h2 {
    text-align: center;
}

.order-item {
    display: flex;
    justify-content: space-between;
}

.underline {
    border-bottom: 2px solid #444343;
    padding-bottom: 20px;
    margin-bottom: 10px;
}

.remove {
    margin-left: 10px;
    color: rgb(197, 189, 189);
    font-size: 20px;
} 

.order-btn {
    margin-top: 20px;
    padding: 15px 0;
    font-size: 20px;
    border: none;
    background-color: rgb(44, 221, 44);
    color: #fff;
    font-weight: bold;
}