* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    font-family: "Roboto Condensed", sans-serif;
    width: 500px;
    border: 3px solid #555;
    border-radius: 10px;
    margin: 20px auto;
    
}


header {
    background-image: url(diner.jpg);
    color: #fff;
    text-shadow: 0 2px 3px #914725;
    height: 150px;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding-left: 10px;
}

header h1 {
    font-size: 35px;
    font-weight: bold;
}

header p {
    font-size: 20px;
    font-weight: bold;
}

.menu-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;
    padding-bottom: 20px;
    line-height: 40px;
    border-bottom: 1px solid #d6c0c0;
}

.menu-list img {
    width: 80px;
    height: 80px;
}

.menu-item {
    display: flex;
    gap: 30px;
    align-items: center;
}

#add-btn {
    font-size: 30px;
    font-weight: 400;
    border: 1px solid #d6c0c0;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
}

.order-wrapper {
    margin: 30px 20px;
    display: none;
    flex-direction: column;
   
}

.order-wrapper > h2 {
    text-align: center;
}

.order-price {
    font-size: 22px;
    font-weight: bold;
}

.total-price {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgb(26, 23, 23);
    margin-top: 10px;
    padding-top: 5px;
}

#order-item {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-bottom: 2px solid #444343;
    padding-bottom: 20px;
    margin-bottom: 10px;
}

.item {
    display: flex;
    justify-content: space-between;
}

.ordered-array {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
   

}

.remove {
    margin-left: 10px;
    color: rgb(128, 124, 124);
    font-size: 20px;
    cursor: pointer;
} 

.order-btn {
    margin-top: 20px;
    padding: 15px 0;
    font-size: 20px;
    border: none;
    background-color: rgb(44, 221, 44);
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}
.card-details {
    width: 450px;
    height: 350px;
    margin: 20px;
    padding: 20px;
    display: none;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 0 2px 12px rgb(112, 145, 172);
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    background-color: #fff;
   
}
.details, #form-data {
    display: flex;
    flex-direction: column;
}


.card-details h2 {
    text-align: center;
    margin: 10px 0;
}
input {
    margin: 5px 0;
    padding: 10px 20px;
    font-size: 20px;
    outline: 0;
    border: 1px solid rgb(161, 157, 157);
    border-radius: 5px;
}

#submit {
    margin-top: 20px;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    background-color:  rgb(44, 221, 44);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submit:hover {
    background-color: rgba(44, 221, 44, 0.76);
}
.card-btn {
    align-self: flex-end;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 5px;
    margin: 0;
    font-size: 20px;
    background-color:  rgb(44, 221, 44);
    border: none;
    box-shadow: 0 0px 5px #c2bfbf;
    color:#fff;
    cursor: pointer;
}

.my-order {
    background-color: rgb(103, 243, 48);
    color: whitesmoke;
    font-size: 30px;
    text-align: center;
    text-shadow: 0 0 5px #110a0a;
    padding: 30px;
    border-radius: 5px;
}